name: Check the documentation build, publish if on main

on:
  push:
 # Only trigger if branches get pushed (ignored pushed a tag)
    tags-ignore:
      - '**'
    branches-ignore:
    - github-pages/*

jobs:
  create_github_pages_docs:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8]
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install poetry
      uses: abatilo/actions-poetry@v2.1.4
      with:
        poetry-version: 1.1.11
    - name: Poetry install
      run: poetry install
    - name: Deploy documentation to github-pages branch
      run: |
        git config --local user.email "opensource@exasol.com"
        git config --local user.name "GitHub Action"
        git fetch
        poetry run python -m nox -s push-pages-current
    - name: Cleanup delete target branch
      if: ${{ !contains(github.ref, 'main') }}
      run: git push -d origin "github-pages/"$(git branch --show-current)""
